/* ==========================================================================
   Custom Styles
   ========================================================================== */

.tag-list {
    list-style-type: none;
    padding-left:0; 
}

.tag-list li {
    display: inline-block;
}

header .button {
    margin-left: 10px;
}

/*Notifications*/
.notification {
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
}
.message {
    background-color: #678f89;
}
.success {
    background: #70DA8B;
    color: #4DA463;
}
.error {
    background: #FFE6B2;
    color: #C5A14E;
    margin-bottom: 20px;
}