{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="entry-list">
        {% for entry in entries %}
        <article>
            <h2><a href="{{ url_for('detail', entry_id=entry.id) }}">{{entry.title}}</a></h2>
            <time datetime="{{ entry.created_date.strftime('%Y-%m-%d') }}">{{ entry.created_date.strftime('%B %d, %Y') }}</time>
            <ul class='tag-list'>
                {% for tag in entry.tags %}
                <li><a href="{{ url_for('index', tag_name=tag.tag_name) }}">#{{ tag.tag_name}}</a></li>
                {% endfor %}
            </ul>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}