{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="new-entry">
        <h2>Login</h2>
        <form method="POST" action="">
            {% from 'macros.html' import render_field %}
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <input type="submit" value="Login" class="button">
            <a href="#" class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}