{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="new-entry">
        <h2>New Entry</h2>
        <form method="POST" action="">
            {% from 'macros.html' import render_field %}
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
            {{ form.hidden_tag() }}
            {{ render_field(form.title) }}
            {{ form.created_date.label }}
            {{ form.created_date(type='date') }}
            {{ render_field(form.time_spent) }}
            {{ render_field(form.learned) }}
            {{ render_field(form.resources) }}
            {{ render_field(form.tags) }}
            <input type="submit" value="Publish Entry" class="button">
            <a href="#" class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}